<div id="<%= dom_id spice %>">
  <p>
    <strong>Name:</strong>
    <%= spice.name %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= spice.quantity %>
  </p>

  <p>
    <strong>Unit:</strong>
    <%= spice.unit %>
  </p>

  <p>
    <strong>Ground:</strong>
    <%= spice.ground %>
  </p>

</div>
