<p style="color: green"><%= notice %></p>

<h1>Spices For Roomie:</h1>

<div id="user-spices">
  <% @users.includes(:spices).each do |user| %>
    <%= render user %>
    <% user.spices.each do |spice| %>
      <%= render spice %>
      <p>
        <%= link_to "Show this spice", spice %>
      </p>
    <% end %>
    <%= link_to "New spice for #{user.name}", new_user_spice_path(user) %>
  <% end %>
</div>

<br>

<section>

<h1>Unclaimed Spices</h1>

<div id="spices">
  <% @spices.each do |spice| %>
    <%= render spice %>
    <p>
      <%= link_to "Show this spice", spice %>
    </p>
  <% end %>
</div>

</section>
